<!DOCTYPE html>
<html>
<head>
  <title>Student Grade System</title>
</head>
<body>
  <h2>Welcome</h2>

  <form action="/login" method="get">
    <button>login</button>
  </form>
  <br><br>
  <form action="/signup" method="get">
    <button >signup</button>
  </form>
</body>
</html>
