<!DOCTYPE html>
<html>
<head>
  <title>Student Grade System</title>
</head>
<body>
  <h2>Welcome</h2>
 <form action="/signup" method="post">
    <label for="firstName">firts name</label><br>
    <input type="text" name="firstName" id="" required><br>
    <label for="secondName">second name</label><br>
    <input type="text" name="secondName" required><br>
    <label for="age">age</label><br>
    <input type="number" name="age" id="" required><br>
    <label for="userName">userName</label><br>
    <input type="text" name="userName" required><br>
   
    <label for="email">email</label><br>
    <input type="email" name="email" id="" required><br>
    <label for="password">password</label><br>
    <input type="password" name="password" id="" required><br>
    <button>submit</button>
 </form>
 
</body>
</html>
